.bar {
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-color);
    position: absolute;
    right: 0%;
    top: 0%;
    z-index: 1000;
    animation: appear .7s ease-in-out forwards ;
    border: 1px solid grey;
    box-shadow: 0px 0px 8px .5px grey;
}

.title {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.title > .img-container {
    width: 30%;
    display: flex;
    justify-content: flex-start;
}

.arrow {
    height: 15px;
    width: 15px;
    padding-left: 25px;
}

.arrow:hover {
    height: 15px;
    width: 15px;
    padding-left: 25px;
    opacity: 80%;
    cursor: pointer;
}

.title > .text-container {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    position: relative;
    left: 10%;
}

.bar > .product-container {
    background-color: white;
    width: 100%;
    height: 50%;
}

.product-container > .columns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-size: .8rem;
}

.columns > p:nth-child(1) {
    width: 20%;
    text-align: center;
    border: 2px solid black;
}

.columns > p:nth-child(2) {
    width: 70%;
    text-align: center;
    border: 2px solid black;
}

.columns > p:nth-child(3) {
    width: 10%;
    text-align: center;
    border: 2px solid black;
}

.product {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.product > .quantity-container {
    width: 20%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product > .product-name {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.product > .product-price {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.product > .img-container {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.img-container > .product-img {
    height: 25px;
    width: 30px;
}

.bar > .description {
    height: 15%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.description > .aclaration {
    font-size: 0.8em;
}

.bar > .total {
    height: 5%;
    display: flex;
    justify-content: flex-end;
    color: white;
    padding-right: 50px;
    align-items: center;
    border: 1px solid white;
}

.bar > .button-container {
    height: 15%;

    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes appear {
    0% {
        right: -15%;
        opacity: 0%;
    }
    100% {
        right: 0%;
        opacity: 100%;
    }
    
}

@keyframes disAppear {
    0% {
        right: 0%;
        opacity: 100%;
    }
    100% {
        right: -15%;
        opacity: 0%;
    }
    
}

@media (min-width: 768px) {

    .bar {
        width: 45vw;
    }

    .title {
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }


    .title > .text-container {
        width: 70%;
        left: 10%;
    }


    .bar > .button-container {
        height: 20%;
    }

}

@media (min-width: 1024px) {

    .bar {
        width: 35vw;
    }


}

@media (min-width: 1440px) {

    .bar {
        width: 25vw;
    }


}