@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
  --bg-color: rgb(31, 31, 31);
}

.content {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.column {
  display: none;
}


.button-mobile {
  display: block;
  z-index: 10;
  position: absolute;
  bottom: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer {
  height: 5vh;
  background-color: var(--bg-color);
}

.swiper {
  height: 100%;
  width: 100%;
  background-color: rgb(238, 238, 238);
}

.swiper-button-prev {
  color: black;
}

.swiper-button-next {
  color: black;
}

.slide {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  object-fit: contain;
  height: 90%;
  width: 90%;
}

.swiper-slide > h2 {
  position: absolute;
  top: 50px;
  left: 50px;
  font-family: 'Bebas Neue', cursive; 
  font-size: 3rem;

}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(59, 59, 59);
  font-size: .7rem;
}


@media (min-width: 890px) {
  .content {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .column {
    display: block;
    height: 100%;
    width: 20%;
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .text-container {
    position: relative;
    height: 75%;
    width: 100%;
    color: white;
    font-family: 'Bebas Neue', cursive;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .bold {
    color: gray;
  }
  
  .text-container #text-1 {
    position: relative;
    text-align: left;
    padding-left: 5%;
  }
  .text-container #text-2 {
    width: calc(100% - 20px);
    position: relative;
    right: 20px;
  
  }
  .text-container #text-3 {
    width: calc(100% - 20px);
    position: relative;
    left: 20px;
  }
  
  .text-container #text-4 {
    text-align: right;
    padding-right: 5%;
  }
  
  
  .column-text {
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }
  
  .button-container {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
   
  
  .buy-btn:hover {
    transition: all 0.2s ease-in-out; 
    background-color: white;
    color: var(--bg-color);
    cursor: pointer;
  }

  .button-mobile {
    display: none;
  }
  
 
  .swiper {
    width: 80%;
  }
  
  
  .img {
    height:100%;
    width: 100%;
  }
  
  .swiper-slide > h2 {
    top: 100px;
    left: 200px;
  }
  
}