.Product-product-container {
    margin-top: 5%;
    margin-bottom: 5%;
    height: 70%;
    width: 70%;
    display: flex;
    flex-direction: column;
    box-shadow: -2px 0px 45px 3px rgba(0,0,0,0.08);
    -webkit-box-shadow: -2px 0px 45px 3px rgba(0,0,0,0.08);
    -moz-box-shadow: -2px 0px 45px 3px rgba(0,0,0,0.08);
    background-color: white;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.Product-product-container:hover > .button-container {
    bottom: 35%;
    align-items: center;
    opacity: 100%;
    transition: all 0.8s ease-in-out;
} 

.Product-product-container:hover > .img-container {
    align-items: center;
    transition: all 0.8s ease-in-out;
    opacity: 0%;
    bottom: 100%;
} 

@keyframes upButton {
    0% { bottom: 0%;
    opacity: 0%;}
    100% {bottom: 50%;
    opacity: 100%;}
}

@keyframes upImg {
    0% { bottom: 0%;
    opacity: 100%;}
    100% {bottom:  100%;
    opacity: 0%;}
}

@keyframes downButton {
    0% { bottom: 50%;
        opacity: 100%;}
        100% {bottom: 0%;
        opacity: 0%;}
}

@keyframes downImg {
    0% { bottom: 100%;
        opacity: 0%;}
        100% {bottom:  0%;
        opacity: 100%;}
}

.Product-product-container > .button-container {
    position: relative;
    bottom: 0%;
    opacity: 0%;
    transition: all 0.8s ease-in-out;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    }


.Product-product-container > .img-container {
    bottom: 0%;
    transition: all 0.8s ease-in-out;
    height: 100%;
    position: relative;
}

.img-product {
    object-fit: contain;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.product-text {
    position: absolute;
    top: 85%;
    height: 15%;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    width: 100%;
    z-index: 1;
    font-size: 1rem;
    align-items: center;
}





@media (min-width: 890px) { 

    .Product-product-container {
        width: 70%;
        min-width: 150px;
        max-width: 300px;
        height: 85%;
    }

    .Product-product-container:hover > .button-container {
        bottom: 60%;
    } 

    .Product-product-container:hover > .img-container {
        /*animation: upImg .8s ease-in-out forwards;*/
        transition: all 0.8s ease-in-out;
        opacity: 0%;
        bottom: 100%;
    } 

    .Product-product-container > .img-container {
        bottom: 0%;
        transition: all 0.8s ease-in-out;
        height: 100%;
        position: relative;
    }

    .img-product {
        object-fit: contain;
        height: 100%;
        width: 100%;
        max-width: 100%;
    }

    .product-text {
        position: absolute;
        top: 85%;
        height: 15%;
        display: flex;
        justify-content: center;
        background-color: black;
        color: white;
        width: 100%;
        z-index: 1;
        align-items: center;

    }

}